.list_style{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus{
       text-decoration:none;
       outline: none;
    }
}
.row.m0{
    margin: 0px;
}
.p0{
    padding: 0px;   
}
.mb_30{
    margin-bottom: -30px;
}

body{
    line-height: 24px;
    font-size: 14px;
    font-family: $pop;
    font-weight: 300;
    color: #777777;
}
section{
    background: #fff;
}
h1, h2, h3, h4, h5, h6{
    font-family: $pop;
    font-weight: 600;
}

button:focus{
    outline: none;
}

.container{
    @media(min-width:1200px){
        max-width: 1170px;
    }
}

.section_gap {
    padding: 40px 0px;
    background-color: #fafafa;
}
.section_title{
    margin-bottom: 75px;
    h2{
        font-size: 36px;
        line-height: 40px;
        color: $dark;
        font-weight: 600;
    }
    p{
        line-height: 30px;
        margin-bottom: 0px;
    }
}
.title_color{
    color: $dark;
}
.d_flex{
    display: flex;
}
.section_gap {
    padding: 40px 0;
}

.row_reverse{
    flex-direction: row-reverse;
}
